.contact {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 5% auto;
  text-align: center;
}

.contact.light {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.contact.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.contact-header h2 {
  font-size: 1.2rem;
  /* color: #333; */
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 1rem;
  color: var(--text-color); 
  margin: 5px 0;
}

.contact-header a {
  color: var(--accent-color);
  text-decoration: none;
}

.contact-header a:hover {
  color: var(--secondary-color);
} 

.pdf-viewer {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 10%;
  height: 800px;
  overflow: auto;
  max-width: 90%;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  font-size: 2rem;
  color: var(--text-color);
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--accent-color);
}

.contact-form {
  margin-top: 40px;
  background-color: var(--bg-color); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: border-color 0.3s, background-color 0.3s;
}

.contact-form button {
  padding: 15px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--secondary-color);
}

.contact-form .form-status {
  margin-top: 10px;
  font-size: 1rem;
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .contact-header h2 {
    font-size: 2rem;
  }

  .contact-form {
    padding: 20px;
    gap: 15px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form button {
    font-size: 1rem;
  }

  .pdf-viewer {
    height: 400px;
    padding: 5px;
    margin: 15px auto;
  }
}